
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
 /*common styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    
}
html{
    font-size: 50.5%;
}
 /*end of common styles*/
 /*nav bar*/
 .navbar{
  width: 100%;
  height: 9rem;
  background-color: #000;
  position: fixed;
  top: -14.5rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.4rem 0.4rem 0.4rem #000;
  transition: top 1s;
  border-radius: 25px;
 }
 .navbar.change{
  top: 0;
  transition: top 0.4s 0.2s ;
 }
.navbar-link{
  color: #aaa;
  margin: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  flex-direction: column;
  transition:  color 0.2s ;
}

.change.navbar-link{
   opacity: 1;
}
.change.navbar-link:nth-child(1){
  transition: opacity 0.4s 0.5s;
}
.change.navbar-link:nth-child(2){
  transition: opacity 0.4s 0.6s ;
}

.change.navbar-link:nth-child(3){
  transition: opacity 0.4s 0.7s ;
}

.change.navbar-link:nth-child(4){
  transition: opacity 0.4s 0.8s ;
}

.change.navbar-link:nth-child(5){
  transition: opacity 0.4s 0.9s ;
}


.navbar-link i{
  font-size: 3.5rem;
}
.navbar-link span{
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}
.navbar-link:hover{
  color: rgb(190, 158, 96);
}
.menu{
  width: 3rem;
  height: 6rem;
  position: fixed;
  top: 1rem;
  left: 5rem;
  background-color: #000;
  border-radius: 8px 899px 400px 400px ;
  box-shadow: -0.1rem -0.1rem 0.1rem #000;
  cursor: pointer;
  box-shadow: 0.1rem 0 0.1rem #000;
  transition:top 1.5s;
  
}
.menu.change{
  top: 15rem;
  transition: top 0.4s;
}
.menu::before{
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: #000;
  position: absolute;
  top: -15rem;
  left: calc(50% - .15rem);
}
 /*end of nav bar*/

 /*section-1*/
 .section-1{
    width: 100%;
    height: 100%;
    background-color:#fccb8cf5;
    background-image: url(back.jpg);
    background-size: cover;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
 }



 .section-heading{
    font-size: 12rem;
    font-weight: ;
    color: #fff;
    text-align: center;
    text-transform: ;
    letter-spacing: 0.5rem;
    text-shadow:0.3rem 0.3rem 0.4rem #000 ;
    font-family: nunito;
    
    
 }
 .section-1-icons i{
    font-size: 25rem;
    color: #312222;
    position: absolute;
    transform:translate(-50%, -50%) scale(0);
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
    transition: transform 0.2s;
 }
.section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2s 0.2s;
}
.one{
  color: #312222;
  font-weight: 900;
  font-family: nunito;
}
 /*End of secton 1*/

 /* section 2*/
 .section-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
    background-color: #fccb8cf5;
    background-image: url();
    background-size: cover;
 
    
 }
 .cards-container{
   display: flex;
   justify-content: space-evenly;
 }
 
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #312222;
  background: ;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow:hidden;
  text-align: center;
 
}
.card:hover{
  transform: rotateY(5deg)skewX(0deg)translateY(-3rem);
  box-shadow: 2rem 2rem 2rem #000;
  transition: transform 1s, box-shadow 2s;
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
h5{
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
  margin: 25px;
}
.two{
  color: #fd9b1af5;
  font-family: monospace;
}
.three{
  color: #312222;
  font-weight:900 ;
}
.bro p{
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: #fac682f5;
  color: #ffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
  
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #fac682f5;
  cursor: pointer;
}

 /*end of section 2*/
 
 /*section 3*/
.section-3{
  background-color: #333;
  padding: 5rem 0;
  background-image: url();
  background-size: cover;
  background-color: #fccb8cf5;
  
}
.food-img{
  width: 22vw;
  height: 20vw;
  object-fit: cover;
  box-shadow: 1rem 1rem 1rem#000;
  transition: all 0.3s;
  border-radius: 10px;

}
.gallery-link:hover .food-img{
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946, 0.7rem 0.7rem 0.1rem#297ce9, 0.9rem00.9rem 0.1rem#e92999;

  filter: blur(0.5rem);
  opacity:;
  transform: scale(1.1);
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 8rem;
  margin-left: -12.5rem;
  margin-right: 14rem;
  
  

  
}

.gallery-link{
  position: relative;
  margin: 4rem 1rem;
  
}
.gallery-link::before{
  content: "";
  width: 0.1rem;
  height: 0;
  position: absolute;
  background-color: #fff;
  top: -2vw;
  left: 112%;
  transition: height 0.5s;
  z-index: 30;

}
.gallery-link:hover::before{
  height: 90%;
}
.gallery-link::after{
  content: "";
  width: 0;
  height: 0.1rem;
  position: absolute;
  background-color: #fff;
  top: 13%;
  left: 13rem;
  transition: width 1.0s;

}
.gallery-link:hover::after{
  width: 90%;
}

.food-name{
  position: absolute;
  top: -1rem;
  left: 20rem;
  font-weight: 900;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: nunito;
  width: 0;
  overflow: hidden;
  transition: width  0.5s;
}
.gallery-link:hover .food-name{
  width: 100%;
  transition: 1.5s 0.5s;
}

.food-description{
  
  position: absolute;
  bottom: 10vw;
  left: 12rem;
  width: 80%;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #fff;
  font-family: nunito;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.gallery-link:hover .food-description{
  opacity: 1;
  visibility: visible;
  transition: 0.7s 0.7s;
}

 /*end of section 3*/

 /*section 4*/
 .section-4{
  display: flex;
  justify-content: space-around;
  background-color: #fccb8cf5;
  height: 30vh;
  width: 50%;
  padding: 3rem 0;
  position: relative;
  

 }
 

 .section-4-text{
  text-transform: uppercase;
  margin-right: 28rem;
  
 
 }
 .section-4-heading
 {
  font-weight: 900;
  color: #8f8317;
  font-size: 4rem;
  margin-left: 30rem;
  margin-top: 2%;
  
  
 }

 .section-4-p{
  font-size: 1.5rem;
  color: #888;
  margin-left: 30rem;
  margin-top: 2%;
  
 }

 .signup-form{
   width: 450px;
   max-width: 100%;
   position: absolute;
   margin-right: -900px;
   margin-top: 4%;
  background-color: #fccb8cf5;
   
  
 }
 
 .signup-form input:first-child{
  width: 100%;
  display: inline-block;
  padding: 14px 140px 14px 15px;
  border: 2px solid#8f8317;
  outline: none;
  border-radius: 30px;
  color: #fccb8cf5;



 }
.signup-form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #8f8317;
  color: #fff;
  box-shadow: 1px 1px 2px #000, 0px 0px 15px #858585;
  right: 6px;
  top: 3px;
  width: 30%;
  
}
.signup-form ::placeholder{
  letter-spacing: 0.5rem;
   font-family: nunito;
  font-weight: 700;
  
}


.section-5{
  display: flex;
  justify-content: space-around;
  background-color: #fccb8cf5;
  height: 20%;
  width: 100%;
  padding: 3rem 0;
  position: relative;
  align-items: flex-start;

}


.social{
 
  display: flex;
  align-items: flex-start;
  margin-top: -10%;
  
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  background-color: #312222;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}
.section-5-p{
  color: #312222;
  font-size: 1.5rem;
  height: 1%;
  align-items: flex-start;
  margin-left: 1rem;
  margin-top: 2%;

}



 /*end of section 4*/
 


/**sign up form**/



/**log in area**/
.login-box {
  width: 300px;
  height: 400px;
  background: #f7c17af5;
  margin: 150px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #635b5b, -5px -5px 10px #000;
  font-family:  monospace;
  text-shadow: 1px 1px 0 #fff;
}
::placeholder{
  font-family: monospace;
  align-items: center;

}

img {
  width: 110px;
  height: 110px;
  position: relative;
  top: -50px;
  left: 35%;
}

h2 {
  margin: -25px 0 20px 0;
  text-align: center;
  color: #8f8888;
}

form {
  margin-left: 40px;
}

input {
  display: block;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  outline: none;
  font-family: sans-serif;
  background: transparent;
  font-size: 16px;
  border-radius: 25px;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

button {
  width: 80%;
  border: none;
  height: 35px;
  border-radius: 25px;
  background: #312222;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow:  1px 3px 4px #000;
  outline: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

a {
  margin-left: 32%;
  color: #8f8888;
  font-size: 16px;
  text-decoration: underline;
}

